body {
    text-align: center;
    font-family: 'Cabin', sans-serif;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:'Cabin', sans-serif;
    margin-top: 30px;
}