P {
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    margin-left: 100px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:'Cabin', sans-serif;
}
 body {
    background-color: white;
    font-family: 'Cabin', sans-serif;
}

#cf {
    position: -relative;
    height:465px;
    width:300px;
    margin:0 auto;
    text-align: center;
}

#cf img {
    position: absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    text-align: center;
}

@keyframes cf3FadeInOut {
 0% {
 opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 6s;
animation-direction: alternate;
}

table {
    background-color: #e66881;
    opacity: 95%;
    font-family: 'Cabin', sans-serif;
    border-collapse: collapse;
    width: 100%;


}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    opacity: 100%;

}

tr:nth-child(even) {
    background-color: white;
}
.button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 1700px;
    margin-bottom: -10px;
    font-family:'Cabin', sans-serif;
}
.total {
    width: 45px;
    margin-top: -20px;
    height: 20px;
    text-align: center;
    color: black;
    font-size: 25px;-
    border-radius:2px;
    padding: 0px;
    margin-left: 1490px;

  }

.innerHTML {
  text-align: center;
  font-size: 15px;
}
.split {
  height: 60%;
  width: 50%;
  position: absolute;
  z-index: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 46px;
  margin-top: 76px;
}
.left {
  left: 0;
  background-color: #e66881;
}
.right {
  right: 0;
  background-color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered img {
  top: 50%
  left: 50%
  margin: auto;
  transform: translate(-50%, -50%);
  display: block;
}
.pooleks{
  height: 50%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 46px;
  margin-top: 50px;
}

h2 {
  font-size: 60px;
  color: white;
  margin-left: 50px;
}
h3{
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}
a{
  font-size: 20px;
  text-align: center;
}
#trial {
  width: 100%;
  background-color: #e66881;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
}

h1 {
  margin-top: 4px;
  color: white;
  font-size: 34px;
}
h4{
  color: white;
  font-size: 17;
}
