P {     
    font-family: 'Raleway', sans-serif;
}
     
img{
     display: block;
    margin-left: auto;
     margin-right: auto;     
 }
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
 body {
    background-color: #e66881;
}
         
table{
    background-color: aliceblue;
 }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#cf {
  position:relative;
  height:281px;
  width:300px;
  margin:0 auto;
    text-align: center;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
    text-align: center;
}

#cf img.top:hover {
  opacity:0;
}

pooleks{
    margin-left:auto;
    margin-right:auto;
   width:50%;
}